@model LoginViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Login User</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0"></label>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Password" class="p-0"></label>
            <input asp-for="Password" type="text" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control" @* asp-route-email="@Model.Email" asp-route-password="@Model.PasswordHash" *@>Login</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Users" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>

    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}